iframe{
    width: 600px;
    height: 450px;
    position: relative;
    top: 30px;
    left: 480px;
    border-radius: 20px;
    border: 3px solid black;
    transition: box-shadow 2s ;
    
}
iframe:hover{
    box-shadow: -10px 10px 10px black,10px -10px 10px black;
}
#maphead{
    color: rgb(14, 14, 45);
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 10px 10px 10px black;
    font-size: 30px;

}